@charset "UTF-8";

 @font-face {
  font-family: 'mt_malachi';
  src: url('fonts/mt-malachi/mt-malachi.eot?61559858');
  src: url('fonts/mt-malachi/mt-malachi.eot?61559858#iefix') format('embedded-opentype'),
       url('fonts/mt-malachi/mt-malachi.woff?61559858') format('woff'),
       url('fonts/mt-malachi/mt-malachi.ttf?61559858') format('truetype'),
       url('fonts/mt-malachi/mt-malachi.svg?61559858#mt-malachi') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'mt-malachi';
    src: url('fonts/mt-malachi/mt-malachi.svg?61559858#mt-malachi') format('svg');
  }
}
*/
 
 [class^="mt-malachi-icon"]:before, [class*=" mt-malachi-icon"]:before, .mt-malachi-icon-address a:before {
  font-family: "mt_malachi";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: none;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - magrins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.mt-malachi-icon-address a:before { content: '\e723'; } /* '' */
.mt-malachi-icon-calendar:before { content: '\e73e'; } /* '' */
.mt-malachi-icon-phone:before { content: '📞'; } /* '\1f4de' */
.mt-malachi-icon-search:before { content: '🔍'; } /* '\1f50d' */